go 1.26.6

use (
	./hdf-cli
	./hdf-converters
	./hdf-diff/go
	./hdf-extension-graph/go
	./hdf-fixtures
	./hdf-generators/go
	./hdf-mappings/go
	./hdf-parsers/go
	./hdf-schema/dist/go
	./hdf-utilities/go
	./hdf-validators/go
)
